POSTGRES_IMAGE="postgres:17"
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

MAIN_API_HOST=localhost
MAIN_API_PORT=8000
MAIN_API_IS_DEV_MODE=True
MAIN_API_ALLOW_ORIGINS=["*"]
MAIN_API_ALLOW_METHODS=["*"]
MAIN_API_ALLOW_HEADERS=["*"]
MAIN_API_IS_GZIP=False
MAIN_API_GZIP_MIN_SIZE=500
MAIN_API_GZIP_COMPRESS_LEVEL=4

WEATHER_API_V1_TITLE="Please add api title"
WEATHER_API_V1_DESCRIPTION="Please add api description"
WEATHER_API_V1_MAJOR_VERSION=1
WEATHER_API_V1_MINOR_VERSION=0
WEATHER_API_V1_IS_STATIC_DOCS=False

OPENWEATHER_API_KEY=
OPENWEATHER_BASE_URL="https://api.openweathermap.org/data/3.0"

AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=
AIRFLOW_CONFIG="/opt/airflow/config/airflow.cfg"

AIRFLOW_POSTGRES_DB=airflow
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__EXECUTION_API_SERVER_URL="http://airflow-apiserver:8080/execution/"
AIRFLOW__CORE__FERNET_KEY=

AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK=true

AIRFLOW_CLI_DB_MIGRATE=true
AIRFLOW_CLI_WWW_USER_CREATE=true
AIRFLOW_CLI_WWW_USER_USERNAME=airflow
AIRFLOW_CLI_WWW_USER_PASSWORD=airflow

CONNECTION_CHECK_MAX_COUNT="0"

AIRFLOW_POSTGRES_CONN_ID=